*, *::after  *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    max-width: 500px;
    margin: auto;
    background-color: gray;
    color: black;
    text-align: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card{
    background-color: white;
    width: 800px;
    height: 450px;
    padding-left: 100px;
    padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 50px;
    
}
h6{
    margin: 0;
}

.test{
    display: flex;
    align-items: center;
    gap: 100px;
}
.text{
    width: 50%;
    align-items: center;
}

.text h2 {
    display: flex;
    align-items: center;
    width: 250px;
    text-align: left;
    color: rgb(66, 9, 122);
    font-size: 30px;
    line-height: 30px;
}

.text p{
    display: flex;
    align-items: center;
    width: 300px;
    text-align: left;
    font-size: 12px;
    color: rgb(170, 168, 168);
}


.box{
    gap: 30px;
    

}

.box-1{
    display: flex;
    align-items: center;
    gap: 25px;
    background-color: rgba(65, 9, 122, 0.185) ;
    height: 40px;
    width: 300px;
    border-radius: 5px;
    padding-left: 25px;
    color: rgb(66, 9, 122);
   
    margin-top: 20px;
   
}
.star{
    display: flex;
    gap: 5px;
}

.box-2{
    display: flex;
    align-items: center;
    gap: 25px;
    background-color: rgba(65, 9, 122, 0.185) ;
    height: 40px;
    width: 300px;
    border-radius: 5px;
    padding-left: 25px;
    color: rgb(66, 9, 122);
    margin-top: 10px;
    margin-left: 20px;
   
}

.box-3{
    display: flex;
    align-items: center;
    gap: 25px;
    background-color: rgba(65, 9, 122, 0.185) ;
    height: 40px;
    width: 300px;
    border-radius: 5px;
    padding-left: 25px;
    color: rgb(66, 9, 122);
    margin-top: 10px;
    margin-left: 40px;
   
}

.profile{
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.profile-1{
    background-color: rgb(66, 9, 122);
    height: 130px;
    width: 205px;
    padding-left: 25px;
    padding-top: 20px;
    padding-right: 20px;
    text-align: left;
    border-radius: 4px;
    color: white;
}
.profile-1 p{
    font-size: 11px;
}

.picture{
    display: flex;
    align-items: center;
    gap: 10px;
}

.name p{
    font-size: 10px;
   color: blueviolet;
    margin-top: 0;
}
.pics img{
    height: 30px;
    width: 30px;
    border-radius: 100%;
}


.profile-2{
    background-color: rgb(66, 9, 122);
    height: 130px;
    width: 205px;
    padding-left: 25px;
    padding-top: 20px;
    padding-right: 20px;
    text-align: left;
    border-radius: 4px;
    margin-top: 20px;
    color: white;
}
.profile-2 p{
    font-size: 11px;
}

.picture{
    display: flex;
    align-items: center;
    gap: 10px;
}

.name p{
    font-size: 10px;
   color: blueviolet;
    margin-top: 0;
}
.pics img{
    height: 30px;
    width: 30px;
    border-radius: 100%;
}


.profile-3{
    background-color: rgb(66, 9, 122);
    height: 130px;
    width: 205px;
    padding-left: 25px;
    padding-top: 20px;
    padding-right: 20px;
    text-align: left;
    border-radius: 4px;
    margin-top: 40px;
    color: white;
}
.profile-3 p{
    font-size: 11px;
}

.picture{
    display: flex;
    align-items: center;
    gap: 10px;
}

.name p{
    font-size: 10px;
   color: blueviolet;
    margin-top: 0;
}
.pics img{
    height: 30px;
    width: 30px;
    border-radius: 100%;
}

